<div class="navbar-form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search for programmes, tags, categories..." name="srch-term" id="srch-term" ng-model="ctrl.keywords" >
    </div>
    <button class="btn btn-default" type="submit" ng-click="ctrl.search()">Search<i class="glyphicon glyphicon-search"></i></button>
    <button class="btn btn-default" type="button">Advanced Search</button>

</div>

<div class="panel panel-default" ng-repeat="programme in ctrl.results">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{programme.complete_title.join(", ")}}
        </h3>
    </div>
    <div class="panel-body">
        {{programme.complete_title.join(", ")}}
        {{programme.masterbrand}}
        {{programme.epoch_start}}
        {{programme.epoch_end}}
        {{programme.tags.join(", ")}}
        {{programme.categories.join(", ")}}

    </div>
</div>

<div>
    <div class ="panel panel-default" ng-repeat="programme in ctrl.results">
        <div class="panel-body">
            <div class="row">
                <div class="col-mod-12">
                    <p>{{programme.pid}}</p>
                </div>
            </div>
        </div>

    </div>
</div>
