<div class="navbar-form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search for programmes, tags, categories..." name="srch-term" id="srch-term" ng-model="ctrl.keywords" >
    </div>
    <button class="btn btn-default" type="submit" ng-click="ctrl.search()">Search<i class="glyphicon glyphicon-search"></i></button>
    <button class="btn btn-default" type="button">Advanced Search</button>

</div>

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                Start Date:
                <div class="input-field inline">
                    <input id="start_date" type="date" class="datepicker">
                </div>
            </div>
            <div class="input-field col s6">
                End Date:
                <div class="input-field inline">
                    <input id="end_date" type="date" class="datepicker">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Categories" id="categories" type="text" >
                <label for="categories">Categories</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Tags" id="tags" type="text">
                <label for="tags">Tags</label>
            </div>
        </div>
        <p>
            <input type="checkbox" id="signed-box" />
            <label for="signed-box">Signed</label>
        </p>
        <p>
            <input type="checkbox" id="dubbed-box" />
            <label for="dubbed-box">Dubbed</label>
        </p>
    </form>
</div>

<ul class="collection with-header" ng-repeat="programme in ctrl.results">
    <li class="collection-header"><h4>{{programme.complete_title.join(", ")}}</h4></li>
    <li class="collection-item">Airing Start Date: {{programme.epoch_start|date:'dd-MMM-yyyy'}}</li>
    <li class="collection-item">Airing End Date: {{programme.epoch_end|date:'dd-MMM-yyyy'}}</li>
    <li class="collection-item">Channel: {{programme.masterbrand}}</li>
    <li class="collection-item" >Tags: {{programme.tags.join(", ")}}</li>
    <li class="collection-item">Categories: {{programme.categories.join(", ")}}</li>

</ul>


